[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/xml"]
	path = bundle/xml
	url = https://github.com/vim-scripts/xml.vim.git
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/c9s/go-ide.vim.git
[submodule "bundle/snippet"]
	path = bundle/snippet
	url = https://github.com/vim-scripts/snippet.vim.git
[submodule "vimLatexGit"]
	path = vimLatexGit
	url = https://github.com/vim-latex/vim-latex.github.com.git
[submodule "bundle/xQuery"]
	path = bundle/xQuery
	url = https://github.com/jeroenp/vim-xquery-syntax.git
[submodule "vimLatex"]
	path = vimLatex
	url = https://github.com/jcf/vim-latex.git
[submodule "bundle/comments"]
	path = bundle/comments
	url = https://github.com/h13ronim/vim-comments.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/freeformz/vim-matchit.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/vim-scripts/repeat.vim.git
[submodule "bundle/sql"]
	path = bundle/sql
	url = https://github.com/vim-scripts/sql.vim--Fishburn.git
[submodule "bundle/outliner"]
	path = bundle/outliner
	url = git://github.com/sophacles/vim-outliner.git
[submodule "bundle/matlab"]
	path = bundle/matlab
	url = git://github.com/vim-scripts/matlab.vim.git
[submodule "bundle/cAndC++"]
	path = bundle/cAndC++
	url = git://github.com/vim-scripts/c.vim.git
[submodule "bundle/cvim"]
	path = bundle/cvim
	url = git://github.com/vim-scripts/c.vim.git
[submodule "bundle/govim"]
	path = bundle/govim
	url = git://github.com/anzaika/go.vim.git
[submodule "bundle/verilog"]
	path = bundle/verilog
	url = https://github.com/vim-scripts/bugfixes-to-vim-indent-for-verilog.git
[submodule "bundle/maude"]
	path = bundle/maude
	url = git://github.com/vim-scripts/maude.vim.git
