[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/xml"]
	path = bundle/xml
	url = https://github.com/vim-scripts/xml.vim.git
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/c9s/go-ide.vim.git
[submodule "bundle/snippet"]
	path = bundle/snippet
	url = https://github.com/vim-scripts/snippet.vim.git
[submodule "vimLatexGit"]
	path = vimLatexGit
	url = https://github.com/vim-latex/vim-latex.github.com.git
[submodule "bundle/xQuery"]
	path = bundle/xQuery
	url = https://github.com/jeroenp/vim-xquery-syntax.git
[submodule "vimLatex"]
	path = vimLatex
	url = https://github.com/jcf/vim-latex.git
